
body{
    margin: 0;
}

.container-homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 25px 0px 25px 0px;
    width: 100%;
    @media screen and (max-width: 600px) {
        padding: 0px 0px 25px 0px;
    }
}

.grid{
    margin-top: 30px;
    border-radius: 15px;
    display: grid;
    gap: 25px;
    justify-items: center;
    align-items: center;
    width: 90%;
    grid-template-columns: repeat(auto-fill, minmax(335px, 1fr)); /* Auto fill added pour les tailles d'écran intermédiaire sauf pour le fold et inférieur Media-Queries */
    @media screen and (max-width: 375px) {
        grid-template-columns: 1fr;
    }
}

.main-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}