
body{
    margin: 0;
}

.container-homepage{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 25px;
}

.grid{
    margin-top: 15px;
    padding: 35px;
    border-radius: 15px;
    display: grid;
    gap: 25px;
    @media screen and (min-width: 1280px) {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 40px;
        grid-row-gap: 40px;

        background-color: $secondary-color;
    }
}
