$primary-color: #ff6060;
$secondary-color: #f7f7f7;
$tertiary-color: #FFFFFF;
$footer-color: #000000;

$background-color: rgba(0, 0, 0, 0.3);
$linear-bg-cards: linear-gradient(0deg, rgba(0,0,0,0.5) 5%, rgba(255,96,96,1) 100%);
$breakpoint-desktop: 576px;
