body {
  font-family: "Montserrat", sans-serif;
}

/** SCSS Specific of pages */
body {
  color: #ff6060;
}

.main-Wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 100px;
  gap: 75px;
}
.main-Wrapper_Error {
  font-size: 288px;
  font-weight: 600;
}
@media screen and (max-width: 780px) {
  .main-Wrapper_Error {
    font-size: 160px;
  }
}
.main-Wrapper_Text {
  font-size: 36px;
  font-weight: 400;
  text-align: center;
}
@media screen and (max-width: 780px) {
  .main-Wrapper_Text {
    font-size: 26px;
  }
}
.main-Wrapper_Link {
  color: inherit;
  font-size: 20px;
}

body {
  margin: 0;
}

.container-homepage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 0px 25px 0px;
  width: 100%;
}
@media screen and (max-width: 600px) {
  .container-homepage {
    padding: 0px 0px 25px 0px;
  }
}

.grid {
  margin-top: 30px;
  border-radius: 15px;
  display: grid;
  gap: 25px;
  justify-items: center;
  align-items: center;
}
@media screen and (min-width: 1200px) {
  .grid {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 50px 0px;
    background-color: #f7f7f7;
    padding: 35px 0px 35px 0px;
  }
}
@media screen and (min-width: 1600px) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}

.main-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

body {
  overflow-x: clip;
}

.container-logements {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 25px;
}

.main-wrapper-logement {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main-wrapper-logement > .header {
  width: 95%;
}

/** All the Components */
.nav-header {
  color: #F66C6C;
}
.nav-header_link-home, .nav-header_link-about {
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
}
.nav-header_link-home:visited, .nav-header_link-about:visited {
  color: #F66C6C;
}
.nav-header_link-home:hover, .nav-header_link-home:focus, .nav-header_link-about:hover, .nav-header_link-about:focus {
  text-decoration: underline;
}
@media screen and (min-width: 576px) {
  .nav-header_link-home, .nav-header_link-about {
    text-transform: capitalize;
    font-size: clamp(1rem, 14px + 0.4032vw, 1.5rem);
  }
}
.nav-header_link-home {
  padding-right: 10px;
}

.header {
  padding-top: 10px;
  width: 90%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .header-logo {
  width: 35%;
  max-width: 220px;
}

@media screen and (min-width: 576px) {
  .with-carrousel {
    justify-content: space-between;
    width: 90%;
    max-width: 1152px;
  }
}

.cards {
  max-height: 255px;
  max-width: 335px;
  border-radius: 5%;
  display: flex;
  align-items: flex-end;
}
.cards_text {
  position: absolute;
  padding-bottom: 15px;
  color: white;
  font-size: 18px;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 210px;
  padding-left: 5px;
}
.cards_img {
  filter: brightness(75%);
  -o-object-fit: cover;
     object-fit: cover;
  width: 335px;
  height: 255px;
  border-radius: 15px;
}
@media screen and (max-width: 374px) {
  .cards_img {
    max-width: 252px;
    height: 180px;
  }
}
.cards_img:hover {
  filter: brightness(90%);
}

.cards:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: #000000;
  padding-top: 75px;
  padding-bottom: 75px;
}
.footer_text {
  color: white;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 5px;
  margin-top: 3%;
}
@media screen and (min-width: 1280px) {
  .footer_text {
    font-size: 24px;
  }
}

.section {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-top: 15px;
}
.section_bg-img {
  aspect-ratio: 4/1;
  width: 90%;
  height: 100px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  filter: brightness(75%);
}
@media screen and (min-width: 1280px) {
  .section_bg-img {
    height: 175px;
  }
}
.section_bg-text {
  position: absolute;
  color: white;
  font-size: 24px;
  left: 10%;
}
@media screen and (min-width: 1000px) {
  .section_bg-text {
    font-size: 40px;
    left: initial;
  }
}

@media screen and (min-width: 1000px) {
  .hide-br {
    display: none;
  }
}
.maximum-width {
  width: 90%;
}
.maximum-width .dropdown {
  margin-top: 2vw;
  width: 100%;
  border-radius: 5px;
  background-color: #ff6060;
  height: 8vw;
  max-height: 45px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}
.maximum-width .dropdown .wrapper {
  width: 100%;
  height: 8vw;
  max-height: 45px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}
.maximum-width .dropdown .wrapper_text {
  font-size: 16px;
  color: white;
  padding-left: 25px;
}
@media screen and (min-width: 700px) {
  .maximum-width .dropdown .wrapper_text {
    font-size: 24px;
  }
}
.maximum-width .dropdown .wrapper_upArrow {
  height: 10px;
  transform-origin: center;
  transition: 0.3s ease-in;
  transform: rotate(0.5turn);
}
@media screen and (min-width: 700px) {
  .maximum-width .dropdown .wrapper_upArrow {
    height: 12px;
  }
}

p {
  margin: 0;
}

.content {
  font-size: 18px;
  color: #ff6060;
  max-height: 0px;
  display: none;
  position: relative;
  top: -5px;
  padding: 5px;
  border-radius: 0px 0px 5px 5px;
  transition: max-height 1s ease;
}

.content.show {
  background-color: #f7f7f7;
  z-index: -1;
  max-height: 350px;
  display: block;
  padding: 25px 15px 25px 15px;
  animation: slideDown 0.4s ease-in-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  90% {
    opacity: 1;
  }
  to {
    transform: translateY(0);
  }
}
.rotate-animation {
  height: 12px;
  transition: 0.3s ease-in;
  transform-origin: center;
}

.equipments-content > li {
  padding-top: 5px;
}

li {
  list-style: none;
}

.wrapper-logementsDesc {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
.wrapper-logementsDesc_title {
  margin: 15px 0px 10px 0px;
  font-weight: 500;
}
.wrapper-logementsDesc_location {
  margin: 0px 0px 10px 0px;
  font-weight: 500;
}
.wrapper-logementsDesc_tags {
  width: 85%;
  display: flex;
  align-items: center;
  text-wrap: nowrap;
  font-size: 10px; /** 10 ou 11 */
  color: white;
  gap: 10px;
  flex-wrap: wrap;
}
.wrapper-logementsDesc_tags :nth-child(n) {
  margin: 0;
  padding: 5px 5px 5px 5px;
  background-color: #ff6060;
  border-radius: 10px;
  font-weight: 500;
  width: 110px;
  text-align: center;
}
.wrapper-logementsDesc_ratingHost {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrapper-logementsDesc_ratingHost .rating {
  display: flex;
}
.wrapper-logementsDesc_ratingHost .host {
  display: flex;
  align-items: center;
}
.wrapper-logementsDesc_ratingHost .host .hostName {
  font-size: 12px;
  width: 50px;
  line-height: 16px;
  padding-right: 5px;
  text-align: center;
}
.wrapper-logementsDesc_ratingHost .host .hostImg {
  width: 32px;
  border-radius: 50%;
}
@media screen and (min-width: 600px) {
  .wrapper-logementsDesc_ratingHost {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 30px;
    transform: translateY(-125px);
  }
  .wrapper-logementsDesc_ratingHost .host .hostName {
    font-size: 20px;
    width: 90px;
    line-height: 22px;
    text-align: center;
  }
  .wrapper-logementsDesc_ratingHost .host .hostImg {
    width: 58px;
    border-radius: 50%;
  }
}
.wrapper-logementsDesc_Hug {
  width: 100%;
  padding-top: 5px;
}
.wrapper-logementsDesc_Hug .maximum-width {
  width: 100%;
  font-size: 14px;
}
@media screen and (min-width: 600px) {
  .wrapper-logementsDesc_Hug .maximum-width {
    width: 50%;
  }
}

.Wrapper-Carrousel {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15px;
}
.Wrapper-Carrousel_carrouselImg {
  filter: brightness(75%); /** Bug See Below */
  border-radius: 25px;
  max-height: 400px;
  width: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  aspect-ratio: 3/1;
}
@media screen and (max-width: 700px) {
  .Wrapper-Carrousel_carrouselImg {
    height: 250px;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 15px;
    width: 100%;
  }
}
.Wrapper-Carrousel_ArrowRight {
  position: relative;
  right: 8%;
  width: 14px;
}
.Wrapper-Carrousel_ArrowLeft {
  position: relative;
  left: 8%;
  z-index: 1; /** Bug without the z-index Arrow disappear when filter brightness is applied BUT it's only on the left Arrow ? */
  width: 14px;
}
@media screen and (max-width: 500px) {
  .Wrapper-Carrousel_ArrowLeft, .Wrapper-Carrousel_ArrowRight {
    width: 14px;
  }
}
@media screen and (min-width: 701px) {
  .Wrapper-Carrousel_ArrowRight, .Wrapper-Carrousel_ArrowLeft {
    width: 40px;
  }
}

.Counter {
  display: none;
}
@media screen and (min-width: 701px) {
  .Counter {
    display: inline;
    color: white;
    transform: translateY(-50px);
    font-size: 22px;
  }
}

.Stars {
  width: 20px;
  margin-right: 8px;
}
@media screen and (min-width: 850px) {
  .Stars {
    width: 25px;
  }
}/*# sourceMappingURL=Main.css.map */