.cards{
    max-height: 255px;
    max-width: 335px;
    border-radius: 5%;
    display: flex;
    align-items: flex-end;
    &_text{
        position: absolute;
        padding-bottom: 15px;
        color: white;
        font-size: 18px;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 210px;
        padding-left: 5px;
    }
    &_img{
        filter: brightness(75%);
        object-fit: cover;
        width: 335px;
        height: 255px;
        border-radius: 15px;
        @media screen and (max-width: 374px) {
            max-width: 252px;
            height: 180px;
        }
    }
    &_img:hover{
        filter: brightness(90%);
    }
}
.cards:hover{
    cursor: pointer;
    transform: scale(1.05);
}

