.cards{
    height: 255px;
    width: 335px;
    background: $linear-bg-cards;
    border-radius: 5%;
    display: flex;
    align-items: flex-end;
    @media screen and (min-width: 1280px) {
        height: 335px;
    }
    &_text{
        color: white;
        padding-left: 10px;
    }
}


