.collapse-container {
  position: relative;
  cursor: pointer; 

  &__title {
    background-color: #ff6060;
    border-radius: 10px;
    padding: 10px 0 10px 0px;
    color: white;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 24px;
    svg {
      transition: 200ms;
    }

    &--open svg {
      rotate: 180deg;
    }

    &-txt{
      padding-left: 15px; /* Ajout Padding to the collapse Title  */
    }
  }

  &__content {
    background-color: #f6f6f6;
    border-radius: 5px;
    overflow: hidden;
    transition: height 300ms;
    width: 100%;
    color: #ff6060;
    font-size: 18px;
    text-align: left;
    padding: 0 20px;

    p,
    ul {
      width: 100%;
    }

    &--hide {
      height: 0px;
    }

    &__arrow {
      transition: 0.2s ease-in;
      transform: rotate(-0.5turn);
      cursor: pointer;
      position: relative;
      right: 10px;

      &--open {
        transition: 0.2s ease-in;
        cursor: pointer;
        position: relative;
        right: 10px;
      }

      &__content {
        overflow: hidden;
        transition: 0.2s ease-in;
        color: $primary-color;

        &--open {
          color: $primary-color;
          width: 100%;
          font-size: 16px;
          border-radius: 5px;
          transition: 0.2s ease-in;
          text-align: left;
          padding: 20px 0;
        }
      }
    }
  }

  @media screen and (max-width: 500px) {
    &__title-txt {
      color: #fff;
      font-size: 13px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.6%;
      position: relative;
      left: 10px;
    }
  }
}

.collapse-container__content--open{
  position: relative;
  top: -8px;
  z-index: -1;
  width: 100%;
  border-radius: 0px 0px 5px 5px;
  background-color: $secondary-color;
  display: flex;
  align-items: center;
  justify-content: flex-start;


  max-height: 160px; /* Ajout de cette max-height pour que les 2 background gris des Collapse soient tout les deux au même niveau ( dans logement ) */


  & > :first-child { /* Ajout Du padding a droite et à gauche pour le Texte du Collapse */
    padding-left: 10px;
    padding-right: 10px;
    font-size: 15px;
  }
}
