.Wrapper-Carrousel{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    width: 100%;
    &_carrouselImg{
        filter: brightness(85%); /** Bug See Below + Kept the brightness to make it easier to see the white Counter and Arrows */
        border-radius: 25px;
        width: 100%;
        object-fit: cover;
        aspect-ratio: 3 / 1;
    }
    @media screen and (max-width: 700px) {
        &_carrouselImg{
            height: 230px;
        }
    }
    &_ArrowRight{
        position: absolute;
        right: 8%;
        width: 14px;
    }
    &_ArrowLeft{
        position: absolute;
        left: 8%;
        z-index: 1; /** Bug without the z-index Arrow disappear when filter brightness is applied BUT it's only on the left Arrow ? */
        width: 14px;
    }
    @media screen and (max-width: 500px) {
        &_ArrowLeft, &_ArrowRight {
          width: 14px;
        }
    }
    @media screen and (min-width: 701px) {
        &_ArrowRight, &_ArrowLeft{
            width: 40px;
        }
    }
}
.Counter{
    display: none;
    @media screen and (min-width: 701px) {
        display: inline;
        color: white;
        transform: translateY(-50px);
        font-size: 22px; 
    }
}

.single-image {
    .Wrapper-Carrousel_ArrowLeft,
    .Wrapper-Carrousel_ArrowRight,
    .Counter {
      display: none;
    }
}