.nav-header{
        color: #F66C6C;
        &_link-home,
        &_link-about{
            font-size: 12px;
            text-decoration: none;
            text-transform: uppercase;
            &:visited{
                color: #F66C6C;
            }
            &:hover,
            &:focus{
                text-decoration: underline;
            }
            @media screen and (min-width: $breakpoint-desktop) {
                text-transform: capitalize;
                font-size: clamp(1rem, 14px + 0.4032vw, 1.5rem);
            }
        }
        &_link-home{
            padding-right: 10px;
        }
    }