

.wrapper-logementsDesc{
    width: 93%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &_title{
        margin: 15px 0px 10px 0px;
        font-weight: 500;
    }
    &_location{
        margin: 0px 0px 10px 0px;
        font-weight: 500;
    }
    &_tags{
        width: 75%;
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        justify-content: space-between;
        font-size: 11px; /** 10 ou 11 */
        color: white;
        gap: 3%;
        :nth-child(n) {
            margin: 0;
            padding: 5px 20px 5px 20px;
            background-color: $primary-color;
            border-radius: 10px;
            font-weight: 500;
        }
    }
    &_ratingHost{
        margin-top: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rating{
            display: flex;
             /** 5 stars to put */
        }
        .host{
            display: flex;
            align-items: center;
            .hostName{
                font-size: 12px;
                width: 50px;
            }
            .hostImg{
                width: 32px;
                border-radius: 50%;
            }
        }
    }
    &_Hug{
        width: 100%;
        .maximum-width{
            width: 100%;
            font-size: 14px;
        }
    }
}
