li{
    list-style: none;
}


.wrapper-logementsDesc{
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    &_title{
        margin: 15px 0px 10px 0px;
        font-weight: 500;
    }
    &_location{
        margin: 0px 0px 10px 0px;
        font-weight: 500;
    }
    &_tags{
        width: 85%;
        display: flex;
        align-items: center;
        text-wrap: nowrap;
        font-size: 10px; /** 10 ou 11 */
        color: white;
        gap: 10px;
        flex-wrap: wrap;  
        :nth-child(n) {
            margin: 0;
            padding: 5px 5px 5px 5px;
            background-color: $primary-color;
            border-radius: 10px;
            font-weight: 500;
            width: 110px;
            text-align: center;
        }
    }
    &_ratingHost{
        margin-top: 15px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .rating{
            display: flex;
        }
        .host{
            display: flex;
            align-items: center;
            .hostName{
                font-size: 12px;
                width: 50px;
                line-height: 16px;
                padding-right: 5px;
                text-align: center;
            }
            .hostImg{
                width: 32px;
                border-radius: 50%;
            }
        }
    }
    &_Hug{
        width: 100%;
        padding-top: 5px;
        .maximum-width{
            width: 100%;
            font-size: 14px;
        }
    }
}
